@import '~@digg/design-system/lib/sass/variables';

//Grid 33% query
$grid-switch-33: media-lg;
//Grid 50% query
$grid-switch-50: $media-md;
//Grid 100% query
$grid-switch-100: 24rem;

.content_grid {
  display: flex;
  flex-direction: column;
  margin-bottom: $space-8;

  .content_grid-preamble {
    margin-top: 0rem;
    max-width: 40rem;
    word-break: break-word;
    padding-bottom: 1rem;
  }

  .content_grid-list {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style: none;
    padding: 0rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    width: 100%;

    .content_grid-item {
      display: flex;
      width: 25%;
      padding: $space-2;

      @media screen and (max-width: $grid-switch-33) {
        width: 33.3333%;
      }

      @media screen and (max-width: $grid-switch-50) {
        width: 50%;
      }

      @media screen and (max-width: $grid-switch-100) {
        width: 100%;
      }

      .content_grid-item-wrapper {
        padding: $space-4;

        span {
          border: none;
        }

        &:hover {
          cursor: pointer;
          filter: brightness(98%);

          .content_grid-itemlink {
            text-decoration: none;
          }
        }

        @media screen and (min-width: 24rem) {
          min-height: 15.25rem;
          // min-width: 15.25rem;
        }

        .content_grid-itemlink {
          width: fit-content;
          text-decoration: underline;
        }

        .content_grid-itemdesc {
          margin-top: 0.5rem;
          max-width: 40rem;
          word-break: break-word;
        }
      }
    }
  }
}

//Theme for grid
.grid:nth-of-type(odd) {
  .content_grid-item {
    &:nth-of-type(1) {
      .content_grid-item-wrapper {
        background-color: $clr-green300;
      }
    }

    &:nth-of-type(2) {
      .content_grid-item-wrapper {
        background-color: $clr-orange400;
      }
    }

    &:nth-of-type(3) {
      .content_grid-item-wrapper {
        background-color: $clr-green500;
      }
    }

    &:nth-of-type(4) {
      .content_grid-item-wrapper {
        background-color: $clr-pink300;
      }
    }

    &:nth-of-type(5) {
      .content_grid-item-wrapper {
        background-color: $clr-orange200;
      }
    }

    &:nth-of-type(6) {
      .content_grid-item-wrapper {
        background-color: $clr-brown500;
      }
    }

    &:nth-of-type(7) {
      .content_grid-item-wrapper {
        background-color: $clr-pink200;
      }
    }

    &:nth-of-type(8) {
      .content_grid-item-wrapper {
        background-color: $clr-green200;
      }
    }

    &:nth-of-type(9) {
      .content_grid-item-wrapper {
        background-color: $clr-green500;
      }
    }

    &:nth-of-type(10) {
      .content_grid-item-wrapper {
        background-color: $clr-pink400;
      }
    }

    &:nth-of-type(11) {
      .content_grid-item-wrapper {
        background-color: $clr-orange200;
      }
    }

    &:nth-of-type(12) {
      .content_grid-item-wrapper {
        background-color: $clr-green300;
      }
    }
  }
}

//Themes for grid
.grid:nth-of-type(even) {
  .content_grid-item {
    &:nth-of-type(12) {
      .content_grid-item-wrapper {
        background-color: $clr-green300;
      }
    }

    &:nth-of-type(11) {
      .content_grid-item-wrapper {
        background-color: $clr-orange400;
      }
    }

    &:nth-of-type(10) {
      .content_grid-item-wrapper {
        background-color: $clr-brown200;
      }
    }

    &:nth-of-type(9) {
      .content_grid-item-wrapper {
        background-color: $clr-pink300;
      }
    }

    &:nth-of-type(8) {
      .content_grid-item-wrapper {
        background-color: $clr-orange200;
      }
    }

    &:nth-of-type(7) {
      .content_grid-item-wrapper {
        background-color: $clr-brown500;
      }
    }

    &:nth-of-type(6) {
      .content_grid-item-wrapper {
        background-color: $clr-pink200;
      }
    }

    &:nth-of-type(5) {
      .content_grid-item-wrapper {
        background-color: $clr-green200;
      }
    }

    &:nth-of-type(4) {
      .content_grid-item-wrapper {
        background-color: $clr-green500;
      }
    }

    &:nth-of-type(3) {
      .content_grid-item-wrapper {
        background-color: $clr-pink400;
      }
    }

    &:nth-of-type(2) {
      .content_grid-item-wrapper {
        background-color: $clr-orange200;
      }
    }

    &:nth-of-type(1) {
      .content_grid-item-wrapper {
        background-color: $clr-green300;
      }
    }
  }
}
