@import "scss/general/variables.scss";

//Grid 33% query
$grid-switch-33: 50rem;
//Grid 50% query
$grid-switch-50: 37.5rem;
//Grid 100% query
$grid-switch-100: 31.5rem;

.content_grid {
    display: flex;
    flex-direction: column;
    margin-bottom: $space-32;

    .content_grid-preamble {
        margin-top: 0rem;
        max-width: 40rem;
    }

    .content_grid-list {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        list-style: none;
        padding: 0rem;
        margin-left: -0.5rem;
        margin-right: -0.5rem;

        .content_grid-item {
            display: flex;
            flex-direction: column;
            width: 25%;
            padding: $space-8;

            @media screen and (max-width: $grid-switch-33) {
                width: 33.3333%;
            }

            @media screen and (max-width: $grid-switch-50) {
                width: 50%;
            }

            @media screen and (max-width: $grid-switch-100) {
                width: 100%;
            }

            .content_grid-item-wrapper {
                padding: $space-16;

                &:hover {
                    cursor: pointer;
                    filter: brightness(98%);

                    .content_grid-itemlink {
                        text-decoration: none;
                    }
                }

                @media screen and (min-width: 31.5rem) {
                    min-height: 17.25rem;
                }

                .content_grid-itemlink {
                    width: fit-content;
                }

                .content_grid-itemdesc {
                    margin-top: 0.5rem;
                    max-width: 40rem;
                }
            }
        }
    }
}

//Theme for grid
.grid:nth-of-type(odd) {
    .content_grid-item {
        &:nth-of-type(1) {
            .content_grid-item-wrapper {
                background-color: $green25;
            }
        }

        &:nth-of-type(2) {
            .content_grid-item-wrapper {
                background-color: $orange50;
            }
        }

        &:nth-of-type(3) {
            .content_grid-item-wrapper {
                background-color: $green50;
            }
        }

        &:nth-of-type(4) {
            .content_grid-item-wrapper {
                background-color: $pink25;
            }
        }

        &:nth-of-type(5) {
            .content_grid-item-wrapper {
                background-color: $orange10;
            }
        }

        &:nth-of-type(6) {
            .content_grid-item-wrapper {
                background-color: $brown25;
            }
        }

        &:nth-of-type(7) {
            .content_grid-item-wrapper {
                background-color: $pink10;
            }
        }

        &:nth-of-type(8) {
            .content_grid-item-wrapper {
                background-color: $green10;
            }
        }

        &:nth-of-type(9) {
            .content_grid-item-wrapper {
                background-color: $green50;
            }
        }

        &:nth-of-type(10) {
            .content_grid-item-wrapper {
                background-color: $pink50;
            }
        }

        &:nth-of-type(11) {
            .content_grid-item-wrapper {
                background-color: $orange10;
            }
        }

        &:nth-of-type(12) {
            .content_grid-item-wrapper {
                background-color: $green25;
            }
        }
    }
}

//Themes for grid
.grid:nth-of-type(even) {
    .content_grid-item {
        &:nth-of-type(12) {
            .content_grid-item-wrapper {
                background-color: $green25;
            }
        }

        &:nth-of-type(11) {
            .content_grid-item-wrapper {
                background-color: $orange50;
            }
        }

        &:nth-of-type(10) {
            .content_grid-item-wrapper {
                background-color: $brown10;
            }
        }

        &:nth-of-type(9) {
            .content_grid-item-wrapper {
                background-color: $pink25;
            }
        }

        &:nth-of-type(8) {
            .content_grid-item-wrapper {
                background-color: $orange10;
            }
        }

        &:nth-of-type(7) {
            .content_grid-item-wrapper {
                background-color: $brown25;
            }
        }

        &:nth-of-type(6) {
            .content_grid-item-wrapper {
                background-color: $pink10;
            }
        }

        &:nth-of-type(5) {
            .content_grid-item-wrapper {
                background-color: $green10;
            }
        }

        &:nth-of-type(4) {
            .content_grid-item-wrapper {
                background-color: $green50;
            }
        }

        &:nth-of-type(3) {
            .content_grid-item-wrapper {
                background-color: $pink50;
            }
        }

        &:nth-of-type(2) {
            .content_grid-item-wrapper {
                background-color: $orange10;
            }
        }

        &:nth-of-type(1) {
            .content_grid-item-wrapper {
                background-color: $green25;
            }
        }
    }
}
