@import 'scss/general/variables.scss';

.content_grid {
    display: flex;
    flex-direction: column;

    .content_grid-preamble{
        margin-top: 0rem;
        max-width: 40rem;
    }

    .content_grid-list {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        list-style: none;
        padding: 0rem;
        margin-left: -0.5rem;
        margin-right: -0.5rem;


        .content_grid-item {
            display: flex;
            flex-direction: column;
            width: 25%;
            padding: $space-8;

            @media screen and (max-width: 50rem) {
                width: 33.3333%;
            }

            @media screen and (max-width: 37.5rem) {
                width: 50%;
            }

            @media screen and (max-width: 31.5rem) {
                width: 100%;
            }

            &:nth-of-type(1) {
                .content_grid-item-wrapper {
                    background-color: $green25;
                }
            }

            &:nth-of-type(2) {
                .content_grid-item-wrapper {
                    background-color: $orange25;
                }
            }

            &:nth-of-type(3) {
                .content_grid-item-wrapper {
                    background-color: $brown10;
                }
            }

            &:nth-of-type(4) {
                .content_grid-item-wrapper {
                    background-color: $pink25;
                }
            }

            .content_grid-item-wrapper {
                padding: $space-16;

                &:hover {
                    cursor: pointer;
                    filter: brightness(98%);

                    .content_grid-itemlink {
                        text-decoration: none;
                    }
                }

                @media screen and (min-width: 31.5rem) {
                    min-height: 17.25rem;
                }

                .content_grid-itemlink {
                    width: fit-content;
                }

                .content_grid-itemdesc {
                    margin-top: 0.5rem;
                    max-width: 40rem;
                }
            }
        }
    }
}
