@import 'scss/general/variables.scss';

.jumbotron-wrapper {
    background-color: $green10;
    margin-bottom: $space-16;
}

.jumbotron {
    display: flex;
    justify-content: space-between;
    margin-bottom: $space-64;
    padding-top: $space-48;
    padding-bottom: $space-48;
    max-width: $page-width;
    margin: auto;

    @media screen and (max-width: 1440px) {
        padding-left: $space-16;
        padding-right: $space-16;
        padding-top: $space-32;
        padding-bottom: $space-32;
    }

    .jumbotron_heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        padding-bottom: $space-24;

        h1 {
            z-index: 1;
            margin-top: 0rem;
            margin-bottom: .5rem;
            text-align: left;

            @media screen and (min-width: 50rem) {
                font-weight: bold;
                font-size: 2.625rem;
                line-height: 3rem;
                letter-spacing: -0.03em;
                color: $black100;
                text-align: left;
                text-align: end;
            }
        }

        span {
            text-align: end;

            @media screen and (max-width: 50rem) {
                text-align: left;
            }
        }
    }

    .jumbotron_img {
        width: 50%;
        object-fit: cover;

        img {
            max-width: 100%;
        }
    }

    @media screen and (max-width: 50rem) {
        flex-direction: column;

        .jumbotron_heading,
        .jumbotron_img {
            display: flex;
            justify-content: center;
            width: 100%;

            img {
                max-width: 70%;
            }
        }
    }

    @media screen and (max-width: 37.5rem) {
        .jumbotron_img {
            img {
                max-width: 100%;
            }
        }
    }
}