@import "scss/general/variables.scss";

//Footer list switch query
$footer-mobile-switch: 56.25rem;

footer {
    margin-top: 10rem;

    svg {
        filter: brightness(10);
    }
}

.footer {
    background-color: $black100;
    padding-top: $space-32;
    padding-bottom: $space-64;
    border-top: 1px solid $bg-color;

    .footer-main {
        display: flex;
        flex-direction: column;
        min-height: 3rem;

        .digg__ {
            span {
                color: $black100;

                &:first-of-type {
                    font-weight: bold;
                }
            }
        }
    }
}

.footer__links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: $space-24;

    span,
    a {
        color: $white;
        &:focus {
            outline-color: $white !important;
        }
    }

    @media screen and (min-width: $footer-mobile-switch) {
        a {
            margin-right: $space-24;
        }
    }

    a[href^="mailto:"] {
        span {
            display: none;
        }
    }

    .footer-link {
        display: flex;
        flex-wrap: wrap;
        word-break: initial;
        word-break: break-word;

        &:hover {
            text-decoration: none;
        }

        span {
            margin-left: 0.5rem;
            width: max-content;
            word-break: break-word;

            svg {
                width: 1rem;
            }
        }

        .mail-icon {
            display: none;
        }

        &[href^="mailto:"] {
            .mail-icon {
                display: block;
            }
        }

        &:after {
            // content: url(../../assets/external_link_icon_white.svg);
            margin-left: 0.5rem;
            margin-bottom: -5px;
        }
    }

    .footer__links-nav {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-left: -1rem;
        margin-right: -1rem;

        @media screen and (max-width: $footer-mobile-switch) {
            margin-left: 0;
            margin-right: 0;
        }

        .footer__links-nav--heading {
            margin-bottom: $space-16;
            color: $white;
            word-break: break-word;
        }

        ul {
            list-style: none;
            margin: 0rem;
            padding: $space-16;

            @media screen and (max-width: $footer-mobile-switch) {
                padding: 0;
                margin-bottom: $space-16;
            }

            @media screen and (min-width: $footer-mobile-switch) {
                &:not(:last-of-type) {
                    margin-right: $space-48;
                }
            }

            li {
                margin-bottom: $space-16;
            }
        }

        @media screen and (max-width: $footer-mobile-switch) {
            flex-direction: column;
        }
    }

    //Back to top button
    .back-to-top {
        a {
            height: $space-48;
            background-color: $green10;
            color: $white;
            border: none;

            &:hover,
            &:focus {
                background-color: $green25;
                color: $black100;
                border: none;
            }

            &:focus {
                outline: $focus-style !important;
                outline-offset: $focus-offset !important;
            }
        }
    }
}
