@import "scss/general/variables.scss";

.code-toolbar {
    pre:focus-visible{
        outline: $focus-style !important;
        outline-offset: $focus-offset !important;
    }

    .toolbar {
        opacity: 1;

        .toolbar-item {
            button {
                &.copy-to-clipboard-button {
                    box-shadow: none;
                    border: 2px solid $black50;
                    color: $black100;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    min-height: 2.75rem;
                    min-width: 2.75rem;

                    span {
                        box-shadow: none;
                        font-size: .7rem;
                        color: $black100;
                    }

                    &:hover {
                        border-color: $black100;
                    }
                }
            }
        }
    }

    pre {
        background-color: #f5f2f0;
    }
}
